// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: 'Helvetica';
  font-weight: 400;
}

p {
  font-family: 'Helvetica';
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: lighter;
  color: blue;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.display1 {
  padding-left: 10px;
  background: #F4F4F4;
}

.display2 {
  padding-left: 10px;
  background: #F4F4F4;
}
